

<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url}}/src/pages/contact/css/bootstrap.min.css"/>
    <!-- animate CSS -->
    <link rel="stylesheet" href="{{url}}/src/pages/contact/css/animate.css"/>
    <!-- font awesome CSS -->
<link rel="stylesheet" href="{{url}}/src/pages/lessons/vendors/elegant_Icon/elegent_icon.css" />
<!-- nice select CSS -->
<link rel="stylesheet" href="{{url}}/src/pages/lessons/vendors/niceselect/css/nice-select.css" />
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="{{url}}/src/pages/contact/vendors/owl_carousel/css/owl.carousel.css"/>
    <!-- magnific popup CSS -->
    <link rel="stylesheet" href="{{url}}/src/pages/contact/vendors/magnify_popup/magnific-popup.css"/>
    <!-- Countdown CSS -->
    <link rel="stylesheet" href="{{url}}/src/pages/contact/vendors/countdown/css/Countdown.css"/>
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="{{url}}/src/pages/contact/css/flaticon.css"/>
    <!-- aos CSS -->
    <link rel="stylesheet" href="{{url}}/src/pages/contact/vendors/aos/aos.css"/>
    <!-- style CSS -->
    <link rel="stylesheet" href="{{url}}/src/pages/contact/style.css"/>

    
    <!-- 404 page content here -->
    <section data-aos="fade-up"
            data-aos-duration="1200" class="error_page section_padding" id="scene">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="error_page_iner">
                        <img src="{{url}}/images/page/404/error.png" alt="#" class="img-fluid">
                        <h3>We are Sorry, Page not found</h3>
                        <p><a href="/" class="go_back"><i class="arrow_back"></i>Back to Homepage</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="icon_animation">
            <div class="error_icon_1 scene">
                <div class=" layer" data-depth="0.2">
                    <img src="{{url}}/images/page/404/error/icon_1.png" alt="#">
                </div>
            </div>
            <div class="error_icon_2 scene">
                <div class=" layer" data-depth="0.1">
                    <img src="{{url}}/images/page/404/error/icon_2.png" alt="#">
                </div>
            </div>
            <div class="error_icon_3 scene">
                <div class=" layer" data-depth="0.1">
                    <img src="{{url}}/images/page/404/error/icon_3.png" alt="#">
                </div>
            </div>
            <div class="error_icon_4 scene">
                <div class=" layer" data-depth="0.1">
                    <img src="{{url}}/images/page/404/error/icon_4.png" alt="#">
                </div>
            </div>
            <div class="error_icon_5 scene">
                <div class=" layer" data-depth="0.1">
                    <img src="{{url}}/images/page/404/error/icon_5.png" alt="#">
                </div>
            </div>
            <div class="error_icon_6 scene">
                <div class=" layer" data-depth="0.1">
                    <img src="{{url}}/images/page/404/error/icon_7.png" alt="#">
                </div>
            </div>
            <div class="error_icon_7 scene">
                <div class=" layer" data-depth="0.1">
                    <img src="{{url}}/images/page/404/error/icon_6.png" alt="#">
                </div>
            </div>
            <div class="error_icon_8 scene">
                <div class=" layer" data-depth="0.1">
                    <img src="{{url}}/images/page/404/error/icon_9.png" alt="#">
                </div>
            </div>
            <div class="error_icon_9 scene">
                <div class=" layer" data-depth="0.1">
                    <img src="{{url}}/images/page/404/error/icon_8.png" alt="#">
                </div>
            </div>
        </div>
    </section>
    <!-- 404 page content end -->


        <!-- jquery slim -->
    <script src="{{url}}/src/pages/contact/js/jquery-3.4.1.min.js"></script>
    <!-- popper js -->
    <script src="{{url}}/src/pages/contact/js/popper.min.js"></script>
    <!-- bootstarp js -->
    <script src="{{url}}/src/pages/contact/js/bootstrap.min.js"></script>
    <!-- nice select -->
    <script src="{{url}}/src/pages/contact/vendors/niceselect/js/jquery.nice-select.min.js"></script>
    <!-- owl carousel js -->
    <script src="{{url}}/src/pages/contact/vendors/owl_carousel/js/owl.carousel.min.js"></script>
    <!-- magnify popup js -->
    <script src="{{url}}/src/pages/contact/vendors/magnify_popup/jquery.magnific-popup.js"></script>
    <!-- simplyCountdown js -->
    <script src="{{url}}/src/pages/contact/vendors/countdown/js/simplyCountdown.min.js"></script>
    <!-- counter js -->
    <script src="{{url}}/src/pages/contact/vendors/counter/jquery.countTo.js"></script> 
    <script src="{{url}}/https://kit.fontawesome.com/6ee3230338.js"/></script>
    <!-- aos js -->
    <script src="{{url}}/src/pages/contact/vendors/aos/aos.js"></script>
    <!-- custom js -->
    <script src="{{url}}/src/pages/contact/js/custom.js"></script>