<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{{url}}/src/pages/contact/css/bootstrap.min.css" />
<!-- animate CSS -->
<link rel="stylesheet" href="{{url}}/src/pages/contact/css/animate.css" />
<!-- font awesome CSS -->
<link rel="stylesheet" href="{{url}}/src/pages/lessons/vendors/elegant_Icon/elegent_icon.css" />
<!-- nice select CSS -->
<link rel="stylesheet" href="{{url}}/src/pages/lessons/vendors/niceselect/css/nice-select.css" />
<!-- owl carousel CSS -->
<link rel="stylesheet" href="{{url}}/src/pages/contact/vendors/owl_carousel/css/owl.carousel.css" />
<!-- magnific popup CSS -->
<link rel="stylesheet" href="{{url}}/src/pages/contact/vendors/magnify_popup/magnific-popup.css" />
<!-- Countdown CSS -->
<link rel="stylesheet" href="{{url}}/src/pages/contact/vendors/countdown/css/Countdown.css" />
<!-- flaticon CSS -->
<link rel="stylesheet" href="{{url}}/src/pages/contact/css/flaticon.css" />
<!-- aos CSS -->
<link rel="stylesheet" href="{{url}}/src/pages/contact/vendors/aos/aos.css" />
<!-- style CSS -->
<link rel="stylesheet" href="{{url}}/src/pages/contact/style.css" />



{{>headers/header}}

<!-- Start contact us -->
<div class="review_form contact_form section_padding">
    <div class="container">
        <h3 data-aos="fade-up" data-aos-duration="1200">Feel Free to Contact with Us</h3>
        <form data-aos="fade-up" data-aos-duration="1600" method="post">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form_single_item">
                        <input type="text" name="name" placeholder="Name" required>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form_single_item">
                        <input type="email" name="email" placeholder="Email" required>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form_single_item">
                        <input type="phone" name="phone" placeholder="Phone" required>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form_single_item">
                        <input type="text" name="subject" placeholder="Subject" required>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form_single_item">
                        <textarea name="message" placeholder="Message" required></textarea>
                    </div>
                </div>
            </div>
            <input type="submit" class="btn_3" value="Submit">
        </form>
    </div>
</div>
<!-- End contact us -->


{{>footers/footer1}}


<!-- jquery slim -->
<script src="{{url}}/src/pages/contact/js/jquery-3.4.1.min.js"></script>
<!-- popper js -->
<script src="{{url}}/src/pages/contact/js/popper.min.js"></script>
<!-- bootstarp js -->
<script src="{{url}}/src/pages/contact/js/bootstrap.min.js"></script>
<!-- nice select -->
<script src="{{url}}/src/pages/contact/vendors/niceselect/js/jquery.nice-select.min.js"></script>
<!-- owl carousel js -->
<script src="{{url}}/src/pages/contact/vendors/owl_carousel/js/owl.carousel.min.js"></script>
<!-- magnify popup js -->
<script src="{{url}}/src/pages/contact/vendors/magnify_popup/jquery.magnific-popup.js"></script>
<!-- simplyCountdown js -->
<script src="{{url}}/src/pages/contact/vendors/countdown/js/simplyCountdown.min.js"></script>
<!-- counter js -->
<script src="{{url}}/src/pages/contact/vendors/counter/jquery.countTo.js"></script>
<script src="https://kit.fontawesome.com/6ee3230338.js" />
</script>
<!-- aos js -->
<script src="{{url}}/src/pages/contact/vendors/aos/aos.js"></script>
<!-- custom js -->
<script src="{{url}}/src/pages/contact/js/custom.js"></script>