

    <link rel="icon" href="src/pages/courses/img/favicon.png" type="image/png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url}}/src/pages/courses/css/bootstrap.min.css"/>
    <!-- animate CSS -->
    <link rel="stylesheet" href="{{url}}/src/pages/courses/css/animate.css"/>
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="{{url}}/src/pages/courses/vendors/elegant_Icon/elegent_icon.css"/>
    <!-- nice select CSS -->
    <link rel="stylesheet" href="{{url}}/src/pages/courses/vendors/niceselect/css/nice-select.css"/>
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="{{url}}/src/pages/courses/vendors/owl_carousel/css/owl.carousel.css"/>
    <!-- magnific popup CSS -->
    <link rel="stylesheet" href="{{url}}/src/pages/courses/vendors/magnify_popup/magnific-popup.css"/>
    <!-- Countdown CSS -->
    <link rel="stylesheet" href="{{url}}/src/pages/courses/vendors/countdown/css/Countdown.css"/>
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="{{url}}/src/pages/courses/css/flaticon.css"/>
    <!-- aos CSS -->
    <link rel="stylesheet" href="{{url}}/src/pages/courses/vendors/aos/aos.css"/>
    <!-- course CSS -->
    <link rel="stylesheet" href="{{url}}/src/pages/courses/css/courses.css"/>
    <!-- style CSS -->
    <link rel="stylesheet" href="{{url}}/src/pages/courses/style.css"/>





{{!-- components --}}
{{> components/ltrrtl}}
{{!-- components --}}

{{> headers/header}}


<!-- courses part here -->
<div id="content" class="site-content" bis_skin_checked="1">
    <div class="lp-archive-courses" bis_skin_checked="1">
        <ul class="learn-press-breadcrumb">
            <li><a href="index.html" bis_skin_checked="1"><span>Home</span></a></li>
            <li class="breadcrumb-delimiter"><i class="fas fa-chevron-right"></i></li>
            <li><span>All Courses</span></li>
        </ul>
        <div class="lp-content-area" bis_skin_checked="1">
            <header class="learn-press-courses-header">
                <h1>All Courses</h1>
            </header>
            <div class="lp-courses-bar list" bis_skin_checked="1">
                <form class="search-courses" method="get" action="index.html">
                    <input type="hidden" name="post_type" value="lp_course">
                    <input type="hidden" name="taxonomy" value="">
                    <input type="hidden" name="term_id" value="">
                    <input type="hidden" name="term" value="">
                    <input type="text" placeholder="Search courses..." name="s" value="">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
                <div class="switch-layout" bis_skin_checked="1">
                    <input type="radio" name="lp-switch-layout-btn" value="grid" id="lp-switch-layout-btn-grid"
                        checked="checked">
                    <label class="switch-btn grid" title="Switch to grid" for="lp-switch-layout-btn-grid"></label>
                    <input type="radio" name="lp-switch-layout-btn" value="list" id="lp-switch-layout-btn-list">
                    <label class="switch-btn list" title="Switch to list" for="lp-switch-layout-btn-list"></label>
                </div>
            </div>
            <ul class="learn-press-courses" data-layout="grid">
                <li id="post-1026"
                    class="post-1026 lp_course type-lp_course status-publish has-post-thumbnail hentry course_category-computer-science course">
                    <div class="course-item" bis_skin_checked="1">
                        <div class="course-wrap-thumbnail" bis_skin_checked="1">
                            <div class="course-thumbnail" bis_skin_checked="1">
                                <a href="/course-details" bis_skin_checked="1">
                                    <div class="thumbnail-preview" bis_skin_checked="1">
                                        <div class="thumbnail" bis_skin_checked="1">
                                            <div class="centered" bis_skin_checked="1">
                                                <img width="370" height="280"
                                                    src="/images/page/courses/popular_item_9.png"
                                                    class="attachment-500x300 size-500x300 wp-post-image"
                                                    alt="Software Development" loading="lazy"
                                                    title="Software Development">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div><!-- START .course-content -->
                        <div class="course-content" bis_skin_checked="1">
                            <div class="course-categories" bis_skin_checked="1">
                                <a href="course-category.html" rel="tag" bis_skin_checked="1">Computer Science</a>
                            </div>
                            <span class="course-instructor">
                                <a href="my-profile.html" bis_skin_checked="1"><span>Adam Smith</span></a>
                            </span>
                            <a href="/course-details" class="course-permalink" bis_skin_checked="1">
                                <h3 class="course-title">Software Development</h3>
                            </a>
                            <!-- START .course-content-meta -->
                            <div class="course-wrap-meta" bis_skin_checked="1">
                                <div class="meta-item meta-item-duration" bis_skin_checked="1">10 weeks</div>
                                <div class="meta-item meta-item-level" bis_skin_checked="1">All levels</div>
                                <div class="meta-item meta-item-lesson" bis_skin_checked="1">
                                    <span class="meta-number">11 lessons</span>
                                </div>
                                <div class="meta-item meta-item-quiz" bis_skin_checked="1">
                                    <span class="meta-number">1 quiz</span>
                                </div>
                                <div class="meta-item meta-item-student" bis_skin_checked="1"> <span
                                        class="meta-number">0 students</span>
                                </div>
                            </div> <!-- END .course-content-meta -->
                            <div class="separator" bis_skin_checked="1"></div>
                            <div class="course-info" bis_skin_checked="1">
                                <div class="course-excerpt" bis_skin_checked="1">Fusi absolutam contra licentiam
                                    contenti verba tu solebat callido anteponebas positum amicos moriare praestantia
                                    disputare…</div>
                                <div class="clearfix" bis_skin_checked="1"></div>
                                <!-- START .course-content-footer -->
                                <div class="course-footer" bis_skin_checked="1">
                                    <div class="course-price" bis_skin_checked="1">
                                        <span class="price">$160.00</span>
                                    </div>
                                </div>
                                <!-- END .course-content-footer -->
                                <div class="course-readmore" bis_skin_checked="1">
                                    <a href="/course-details" bis_skin_checked="1">View More</a>
                                </div>
                            </div>
                        </div>
                        <!-- END .course-content -->
                    </div>
                </li>
                <li id="post-1026"
                    class="post-1026 lp_course type-lp_course status-publish has-post-thumbnail hentry course_category-computer-science course">
                    <div class="course-item" bis_skin_checked="1">
                        <div class="course-wrap-thumbnail" bis_skin_checked="1">
                            <div class="course-thumbnail" bis_skin_checked="1">
                                <a href="/course-details" bis_skin_checked="1">
                                    <div class="thumbnail-preview" bis_skin_checked="1">
                                        <div class="thumbnail" bis_skin_checked="1">
                                            <div class="centered" bis_skin_checked="1">
                                                <img width="370" height="280"
                                                    src="/images/page/courses/popular_item_8.png"
                                                    class="attachment-500x300 size-500x300 wp-post-image"
                                                    alt="Software Development" loading="lazy"
                                                    title="Software Development">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div><!-- START .course-content -->
                        <div class="course-content" bis_skin_checked="1">
                            <div class="course-categories" bis_skin_checked="1">
                                <a href="course-category.html" rel="tag" bis_skin_checked="1">Business</a>
                            </div>
                            <span class="course-instructor">
                                <a href="my-profile.html" bis_skin_checked="1"><span>Adam Smith</span></a>
                            </span>
                            <a href="/course-details" class="course-permalink" bis_skin_checked="1">
                                <h3 class="course-title">Business Essentials</h3>
                            </a>
                            <!-- START .course-content-meta -->
                            <div class="course-wrap-meta" bis_skin_checked="1">
                                <div class="meta-item meta-item-duration" bis_skin_checked="1">10 weeks</div>
                                <div class="meta-item meta-item-level" bis_skin_checked="1">All levels</div>
                                <div class="meta-item meta-item-lesson" bis_skin_checked="1">
                                    <span class="meta-number">11 lessons</span>
                                </div>
                                <div class="meta-item meta-item-quiz" bis_skin_checked="1">
                                    <span class="meta-number">1 quiz</span>
                                </div>
                                <div class="meta-item meta-item-student" bis_skin_checked="1"> <span
                                        class="meta-number">0 students</span>
                                </div>
                            </div> <!-- END .course-content-meta -->
                            <div class="separator" bis_skin_checked="1"></div>
                            <div class="course-info" bis_skin_checked="1">
                                <div class="course-excerpt" bis_skin_checked="1">Fusi absolutam contra licentiam
                                    contenti verba tu solebat callido anteponebas positum amicos moriare praestantia
                                    disputare…</div>
                                <div class="clearfix" bis_skin_checked="1"></div>
                                <!-- START .course-content-footer -->
                                <div class="course-footer" bis_skin_checked="1">
                                    <div class="course-price" bis_skin_checked="1">
                                        <span class="price">$120.00</span>
                                    </div>
                                </div>
                                <!-- END .course-content-footer -->
                                <div class="course-readmore" bis_skin_checked="1">
                                    <a href="/course-details" bis_skin_checked="1">View More</a>
                                </div>
                            </div>
                        </div>
                        <!-- END .course-content -->
                    </div>
                </li>
                <li id="post-1026"
                    class="post-1026 lp_course type-lp_course status-publish has-post-thumbnail hentry course_category-computer-science course">
                    <div class="course-item" bis_skin_checked="1">
                        <div class="course-wrap-thumbnail" bis_skin_checked="1">
                            <div class="course-thumbnail" bis_skin_checked="1">
                                <a href="/course-details" bis_skin_checked="1">
                                    <div class="thumbnail-preview" bis_skin_checked="1">
                                        <div class="thumbnail" bis_skin_checked="1">
                                            <div class="centered" bis_skin_checked="1">
                                                <img width="370" height="280"
                                                    src="/images/page/courses/popular_item_7.png"
                                                    class="attachment-500x300 size-500x300 wp-post-image"
                                                    alt="Software Development" loading="lazy"
                                                    title="Software Development">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div><!-- START .course-content -->
                        <div class="course-content" bis_skin_checked="1">
                            <div class="course-categories" bis_skin_checked="1">
                                <a href="course-category.html" rel="tag" bis_skin_checked="1">Arts & Humanities</a>
                            </div>
                            <span class="course-instructor">
                                <a href="my-profile.html" bis_skin_checked="1"><span>Adam Smith</span></a>
                            </span>
                            <a href="/course-details" class="course-permalink" bis_skin_checked="1">
                                <h3 class="course-title">History & Philosophy</h3>
                            </a>
                            <!-- START .course-content-meta -->
                            <div class="course-wrap-meta" bis_skin_checked="1">
                                <div class="meta-item meta-item-duration" bis_skin_checked="1">10 weeks</div>
                                <div class="meta-item meta-item-level" bis_skin_checked="1">All levels</div>
                                <div class="meta-item meta-item-lesson" bis_skin_checked="1">
                                    <span class="meta-number">11 lessons</span>
                                </div>
                                <div class="meta-item meta-item-quiz" bis_skin_checked="1">
                                    <span class="meta-number">1 quiz</span>
                                </div>
                                <div class="meta-item meta-item-student" bis_skin_checked="1"> <span
                                        class="meta-number">0 students</span>
                                </div>
                            </div> <!-- END .course-content-meta -->
                            <div class="separator" bis_skin_checked="1"></div>
                            <div class="course-info" bis_skin_checked="1">
                                <div class="course-excerpt" bis_skin_checked="1">Fusi absolutam contra licentiam
                                    contenti verba tu solebat callido anteponebas positum amicos moriare praestantia
                                    disputare…</div>
                                <div class="clearfix" bis_skin_checked="1"></div>
                                <!-- START .course-content-footer -->
                                <div class="course-footer" bis_skin_checked="1">
                                    <div class="course-price" bis_skin_checked="1">
                                        <span class="price">$110.00</span>
                                    </div>
                                </div>
                                <!-- END .course-content-footer -->
                                <div class="course-readmore" bis_skin_checked="1">
                                    <a href="/course-details" bis_skin_checked="1">View More</a>
                                </div>
                            </div>
                        </div>
                        <!-- END .course-content -->
                    </div>
                </li>
                <li id="post-1026"
                    class="post-1026 lp_course type-lp_course status-publish has-post-thumbnail hentry course_category-computer-science course">
                    <div class="course-item" bis_skin_checked="1">
                        <div class="course-wrap-thumbnail" bis_skin_checked="1">
                            <div class="course-thumbnail" bis_skin_checked="1">
                                <a href="/course-details" bis_skin_checked="1">
                                    <div class="thumbnail-preview" bis_skin_checked="1">
                                        <div class="thumbnail" bis_skin_checked="1">
                                            <div class="centered" bis_skin_checked="1">
                                                <img width="370" height="280"
                                                    src="/images/page/courses/popular_item_6.png"
                                                    class="attachment-500x300 size-500x300 wp-post-image"
                                                    alt="Software Development" loading="lazy"
                                                    title="Software Development">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div><!-- START .course-content -->
                        <div class="course-content" bis_skin_checked="1">
                            <div class="course-categories" bis_skin_checked="1">
                                <a href="course-category.html" rel="tag" bis_skin_checked="1">Math & Logic</a>
                            </div>
                            <span class="course-instructor">
                                <a href="my-profile.html" bis_skin_checked="1"><span>Adam Smith</span></a>
                            </span>
                            <a href="/course-details" class="course-permalink" bis_skin_checked="1">
                                <h3 class="course-title">Algebra & Calculus</h3>
                            </a>
                            <!-- START .course-content-meta -->
                            <div class="course-wrap-meta" bis_skin_checked="1">
                                <div class="meta-item meta-item-duration" bis_skin_checked="1">10 weeks</div>
                                <div class="meta-item meta-item-level" bis_skin_checked="1">All levels</div>
                                <div class="meta-item meta-item-lesson" bis_skin_checked="1">
                                    <span class="meta-number">11 lessons</span>
                                </div>
                                <div class="meta-item meta-item-quiz" bis_skin_checked="1">
                                    <span class="meta-number">1 quiz</span>
                                </div>
                                <div class="meta-item meta-item-student" bis_skin_checked="1"> <span
                                        class="meta-number">0 students</span>
                                </div>
                            </div> <!-- END .course-content-meta -->
                            <div class="separator" bis_skin_checked="1"></div>
                            <div class="course-info" bis_skin_checked="1">
                                <div class="course-excerpt" bis_skin_checked="1">Fusi absolutam contra licentiam
                                    contenti verba tu solebat callido anteponebas positum amicos moriare praestantia
                                    disputare…</div>
                                <div class="clearfix" bis_skin_checked="1"></div>
                                <!-- START .course-content-footer -->
                                <div class="course-footer" bis_skin_checked="1">
                                    <div class="course-price" bis_skin_checked="1">
                                        <span class="price">$130.00</span>
                                    </div>
                                </div>
                                <!-- END .course-content-footer -->
                                <div class="course-readmore" bis_skin_checked="1">
                                    <a href="/course-details" bis_skin_checked="1">View More</a>
                                </div>
                            </div>
                        </div>
                        <!-- END .course-content -->
                    </div>
                </li>
                <li id="post-1026"
                    class="post-1026 lp_course type-lp_course status-publish has-post-thumbnail hentry course_category-computer-science course">
                    <div class="course-item" bis_skin_checked="1">
                        <div class="course-wrap-thumbnail" bis_skin_checked="1">
                            <div class="course-thumbnail" bis_skin_checked="1">
                                <a href="/course-details" bis_skin_checked="1">
                                    <div class="thumbnail-preview" bis_skin_checked="1">
                                        <div class="thumbnail" bis_skin_checked="1">
                                            <div class="centered" bis_skin_checked="1">
                                                <img width="370" height="280"
                                                    src="/images/page/courses/popular_item_5.png"
                                                    class="attachment-500x300 size-500x300 wp-post-image"
                                                    alt="Software Development" loading="lazy"
                                                    title="Software Development">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div><!-- START .course-content -->
                        <div class="course-content" bis_skin_checked="1">
                            <div class="course-categories" bis_skin_checked="1">
                                <a href="course-category.html" rel="tag" bis_skin_checked="1">Language Learning</a>
                            </div>
                            <span class="course-instructor">
                                <a href="my-profile.html" bis_skin_checked="1"><span>Adam Smith</span></a>
                            </span>
                            <a href="/course-details" class="course-permalink" bis_skin_checked="1">
                                <h3 class="course-title">English Learning</h3>
                            </a>
                            <!-- START .course-content-meta -->
                            <div class="course-wrap-meta" bis_skin_checked="1">
                                <div class="meta-item meta-item-duration" bis_skin_checked="1">10 weeks</div>
                                <div class="meta-item meta-item-level" bis_skin_checked="1">All levels</div>
                                <div class="meta-item meta-item-lesson" bis_skin_checked="1">
                                    <span class="meta-number">11 lessons</span>
                                </div>
                                <div class="meta-item meta-item-quiz" bis_skin_checked="1">
                                    <span class="meta-number">1 quiz</span>
                                </div>
                                <div class="meta-item meta-item-student" bis_skin_checked="1"> <span
                                        class="meta-number">0 students</span>
                                </div>
                            </div> <!-- END .course-content-meta -->
                            <div class="separator" bis_skin_checked="1"></div>
                            <div class="course-info" bis_skin_checked="1">
                                <div class="course-excerpt" bis_skin_checked="1">Fusi absolutam contra licentiam
                                    contenti verba tu solebat callido anteponebas positum amicos moriare praestantia
                                    disputare…</div>
                                <div class="clearfix" bis_skin_checked="1"></div>
                                <!-- START .course-content-footer -->
                                <div class="course-footer" bis_skin_checked="1">
                                    <div class="course-price" bis_skin_checked="1">
                                        <span class="price">$140.00</span>
                                    </div>
                                </div>
                                <!-- END .course-content-footer -->
                                <div class="course-readmore" bis_skin_checked="1">
                                    <a href="/course-details" bis_skin_checked="1">View More</a>
                                </div>
                            </div>
                        </div>
                        <!-- END .course-content -->
                    </div>
                </li>
                <li id="post-1026"
                    class="post-1026 lp_course type-lp_course status-publish has-post-thumbnail hentry course_category-computer-science course">
                    <div class="course-item" bis_skin_checked="1">
                        <div class="course-wrap-thumbnail" bis_skin_checked="1">
                            <div class="course-thumbnail" bis_skin_checked="1">
                                <a href="/course-details" bis_skin_checked="1">
                                    <div class="thumbnail-preview" bis_skin_checked="1">
                                        <div class="thumbnail" bis_skin_checked="1">
                                            <div class="centered" bis_skin_checked="1">
                                                <img width="370" height="280"
                                                    src="/images/page/courses/popular_item_4.png"
                                                    class="attachment-500x300 size-500x300 wp-post-image"
                                                    alt="Software Development" loading="lazy"
                                                    title="Software Development">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div><!-- START .course-content -->
                        <div class="course-content" bis_skin_checked="1">
                            <div class="course-categories" bis_skin_checked="1">
                                <a href="course-category.html" rel="tag" bis_skin_checked="1">Business</a>
                            </div>
                            <span class="course-instructor">
                                <a href="my-profile.html" bis_skin_checked="1"><span>Adam Smith</span></a>
                            </span>
                            <a href="/course-details" class="course-permalink" bis_skin_checked="1">
                                <h3 class="course-title">Business Strategy</h3>
                            </a>
                            <!-- START .course-content-meta -->
                            <div class="course-wrap-meta" bis_skin_checked="1">
                                <div class="meta-item meta-item-duration" bis_skin_checked="1">10 weeks</div>
                                <div class="meta-item meta-item-level" bis_skin_checked="1">All levels</div>
                                <div class="meta-item meta-item-lesson" bis_skin_checked="1">
                                    <span class="meta-number">11 lessons</span>
                                </div>
                                <div class="meta-item meta-item-quiz" bis_skin_checked="1">
                                    <span class="meta-number">1 quiz</span>
                                </div>
                                <div class="meta-item meta-item-student" bis_skin_checked="1"> <span
                                        class="meta-number">0 students</span>
                                </div>
                            </div> <!-- END .course-content-meta -->
                            <div class="separator" bis_skin_checked="1"></div>
                            <div class="course-info" bis_skin_checked="1">
                                <div class="course-excerpt" bis_skin_checked="1">Fusi absolutam contra licentiam
                                    contenti verba tu solebat callido anteponebas positum amicos moriare praestantia
                                    disputare…</div>
                                <div class="clearfix" bis_skin_checked="1"></div>
                                <!-- START .course-content-footer -->
                                <div class="course-footer" bis_skin_checked="1">
                                    <div class="course-price" bis_skin_checked="1">
                                        <span class="price">$160.00</span>
                                    </div>
                                </div>
                                <!-- END .course-content-footer -->
                                <div class="course-readmore" bis_skin_checked="1">
                                    <a href="/course-details" bis_skin_checked="1">View More</a>
                                </div>
                            </div>
                        </div>
                        <!-- END .course-content -->
                    </div>
                </li>
                <li id="post-1026"
                    class="post-1026 lp_course type-lp_course status-publish has-post-thumbnail hentry course_category-computer-science course">
                    <div class="course-item" bis_skin_checked="1">
                        <div class="course-wrap-thumbnail" bis_skin_checked="1">
                            <div class="course-thumbnail" bis_skin_checked="1">
                                <a href="/course-details" bis_skin_checked="1">
                                    <div class="thumbnail-preview" bis_skin_checked="1">
                                        <div class="thumbnail" bis_skin_checked="1">
                                            <div class="centered" bis_skin_checked="1">
                                                <img width="370" height="280"
                                                    src="/images/page/courses/popular_item_3.png"
                                                    class="attachment-500x300 size-500x300 wp-post-image"
                                                    alt="Software Development" loading="lazy"
                                                    title="Software Development">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div><!-- START .course-content -->
                        <div class="course-content" bis_skin_checked="1">
                            <div class="course-categories" bis_skin_checked="1">
                                <a href="course-category.html" rel="tag" bis_skin_checked="1">Arts & Humanities</a>
                            </div>
                            <span class="course-instructor">
                                <a href="my-profile.html" bis_skin_checked="1"><span>Adam Smith</span></a>
                            </span>
                            <a href="/course-details" class="course-permalink" bis_skin_checked="1">
                                <h3 class="course-title">Music & Art</h3>
                            </a>
                            <!-- START .course-content-meta -->
                            <div class="course-wrap-meta" bis_skin_checked="1">
                                <div class="meta-item meta-item-duration" bis_skin_checked="1">10 weeks</div>
                                <div class="meta-item meta-item-level" bis_skin_checked="1">All levels</div>
                                <div class="meta-item meta-item-lesson" bis_skin_checked="1">
                                    <span class="meta-number">11 lessons</span>
                                </div>
                                <div class="meta-item meta-item-quiz" bis_skin_checked="1">
                                    <span class="meta-number">1 quiz</span>
                                </div>
                                <div class="meta-item meta-item-student" bis_skin_checked="1"> <span
                                        class="meta-number">0 students</span>
                                </div>
                            </div> <!-- END .course-content-meta -->
                            <div class="separator" bis_skin_checked="1"></div>
                            <div class="course-info" bis_skin_checked="1">
                                <div class="course-excerpt" bis_skin_checked="1">Fusi absolutam contra licentiam
                                    contenti verba tu solebat callido anteponebas positum amicos moriare praestantia
                                    disputare…</div>
                                <div class="clearfix" bis_skin_checked="1"></div>
                                <!-- START .course-content-footer -->
                                <div class="course-footer" bis_skin_checked="1">
                                    <div class="course-price" bis_skin_checked="1">
                                        <span class="price">$170.00</span>
                                    </div>
                                </div>
                                <!-- END .course-content-footer -->
                                <div class="course-readmore" bis_skin_checked="1">
                                    <a href="/course-details" bis_skin_checked="1">View More</a>
                                </div>
                            </div>
                        </div>
                        <!-- END .course-content -->
                    </div>
                </li>
                <li id="post-1026"
                    class="post-1026 lp_course type-lp_course status-publish has-post-thumbnail hentry course_category-computer-science course">
                    <div class="course-item" bis_skin_checked="1">
                        <div class="course-wrap-thumbnail" bis_skin_checked="1">
                            <div class="course-thumbnail" bis_skin_checked="1">
                                <a href="/course-details" bis_skin_checked="1">
                                    <div class="thumbnail-preview" bis_skin_checked="1">
                                        <div class="thumbnail" bis_skin_checked="1">
                                            <div class="centered" bis_skin_checked="1">
                                                <img width="370" height="280"
                                                    src="/images/page/courses/popular_item_2.png"
                                                    class="attachment-500x300 size-500x300 wp-post-image"
                                                    alt="Software Development" loading="lazy"
                                                    title="Software Development">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div><!-- START .course-content -->
                        <div class="course-content" bis_skin_checked="1">
                            <div class="course-categories" bis_skin_checked="1">
                                <a href="course-category.html" rel="tag" bis_skin_checked="1">Data Science</a>
                            </div>
                            <span class="course-instructor">
                                <a href="my-profile.html" bis_skin_checked="1"><span>Adam Smith</span></a>
                            </span>
                            <a href="/course-details" class="course-permalink" bis_skin_checked="1">
                                <h3 class="course-title">Data Analysis</h3>
                            </a>
                            <!-- START .course-content-meta -->
                            <div class="course-wrap-meta" bis_skin_checked="1">
                                <div class="meta-item meta-item-duration" bis_skin_checked="1">10 weeks</div>
                                <div class="meta-item meta-item-level" bis_skin_checked="1">All levels</div>
                                <div class="meta-item meta-item-lesson" bis_skin_checked="1">
                                    <span class="meta-number">11 lessons</span>
                                </div>
                                <div class="meta-item meta-item-quiz" bis_skin_checked="1">
                                    <span class="meta-number">1 quiz</span>
                                </div>
                                <div class="meta-item meta-item-student" bis_skin_checked="1"> <span
                                        class="meta-number">0 students</span>
                                </div>
                            </div> <!-- END .course-content-meta -->
                            <div class="separator" bis_skin_checked="1"></div>
                            <div class="course-info" bis_skin_checked="1">
                                <div class="course-excerpt" bis_skin_checked="1">Fusi absolutam contra licentiam
                                    contenti verba tu solebat callido anteponebas positum amicos moriare praestantia
                                    disputare…</div>
                                <div class="clearfix" bis_skin_checked="1"></div>
                                <!-- START .course-content-footer -->
                                <div class="course-footer" bis_skin_checked="1">
                                    <div class="course-price" bis_skin_checked="1">
                                        <span class="price">$200.00</span>
                                    </div>
                                </div>
                                <!-- END .course-content-footer -->
                                <div class="course-readmore" bis_skin_checked="1">
                                    <a href="/course-details" bis_skin_checked="1">View More</a>
                                </div>
                            </div>
                        </div>
                        <!-- END .course-content -->
                    </div>
                </li>
            </ul>
            <nav class="learn-press-pagination navigation pagination">
                <ul class="page-numbers">
                    <li><span aria-current="page" class="page-numbers current">1</span></li>
                    <li><a class="page-numbers" href="#" bis_skin_checked="1">2</a></li>
                    <li><a class="next page-numbers" href="#" bis_skin_checked="1"><i class="arrow_right"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- courses part end -->

{{> footers/footer1}}
    


    <!-- jquery slim -->
    <script src="{{url}}/src/pages/courses/js/jquery-3.4.1.min.js"></script>
    <!-- popper js -->
    <script src="{{url}}/src/pages/courses/js/popper.min.js"></script>
    <!-- bootstarp js -->
    <script src="{{url}}/src/pages/courses/js/bootstrap.min.js"></script>
    <!-- nice select -->
    <script src="{{url}}/src/pages/courses/vendors/niceselect/js/jquery.nice-select.min.js"></script>
    <!-- owl carousel js -->
    <script src="{{url}}/src/pages/courses/vendors/owl_carousel/js/owl.carousel.min.js"></script>
    <!-- magnify popup js -->
    <script src="{{url}}/src/pages/courses/vendors/magnify_popup/jquery.magnific-popup.js"></script>
    <!-- simplyCountdown js -->
    <script src="{{url}}/src/pages/courses/vendors/countdown/js/simplyCountdown.min.js"></script>
    <!-- counter js -->
    <script src="{{url}}/src/pages/courses/vendors/counter/jquery.countTo.js"></script> 
    <!-- aos js -->
    <script src="{{url}}/src/pages/courses/vendors/aos/aos.js"></script>
    <!-- courses js -->
    <script src="{{url}}/src/pages/courses/js/courses.js"></script>
    <!-- font awesome js -->
    <script src="https://kit.fontawesome.com/6ee3230338.js"/></script>
    <!-- custom js -->
    <script src="{{url}}/src/pages/courses/js/custom.js"></script>
