<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{{url}}/src/pages/lessons/css/bootstrap.min.css" />
<!-- animate CSS -->
<link rel="stylesheet" href="{{url}}/src/pages/lessons/css/animate.css" />
<!-- font awesome CSS -->
<link rel="stylesheet" href="{{url}}/src/pages/lessons/vendors/elegant_Icon/elegent_icon.css" />
<!-- nice select CSS -->
<link rel="stylesheet" href="{{url}}/src/pages/lessons/vendors/niceselect/css/nice-select.css" />
<!-- owl carousel CSS -->
<link rel="stylesheet" href="{{url}}/src/pages/lessons/vendors/owl_carousel/css/owl.carousel.css" />
<!-- magnific popup CSS -->
<link rel="stylesheet" href="{{url}}/src/pages/lessons/vendors/magnify_popup/magnific-popup.css" />
<!-- Countdown CSS -->
<link rel="stylesheet" href="{{url}}/src/pages/lessons/vendors/countdown/css/Countdown.css" />
<!-- flaticon CSS -->
<link rel="stylesheet" href="{{url}}/src/pages/lessons/css/flaticon.css" />
<!-- aos CSS -->
<link rel="stylesheet" href="{{url}}/src/pages/lessons/vendors/aos/aos.css" />
<!-- course CSS -->
<link rel="stylesheet" href="{{url}}/src/pages/lessons/css/courses.css" />
<!-- style CSS -->
<link rel="stylesheet" href="{{url}}/src/pages/lessons/style.css" />




<!-- lessons part here -->
<div id="content" class="site-content" bis_skin_checked="1">
    <div class="lp-archive-courses" bis_skin_checked="1">
        <ul class="learn-press-breadcrumb">
            <li><a href="/" bis_skin_checked="1"><span>Home</span></a></li>
            <li class="breadcrumb-delimiter"><i class="fas fa-chevron-right"></i></li>
            <li><a href="course-list.html" bis_skin_checked="1"><span>All Courses</span></a></li>
            <li class="breadcrumb-delimiter"><i class="fas fa-chevron-right"></i></li>
            <li><a href="course-category.html" bis_skin_checked="1"><span>Computer Science</span></a></li>
            <li class="breadcrumb-delimiter"><i class="fas fa-chevron-right"></i></li>
            <li><span>Computer Security &amp; Network</span></li>
        </ul>
        <div id="popup-course" class="course-summary" bis_skin_checked="1">
            <input type="checkbox" id="sidebar-toggle">
            <div id="popup-header" bis_skin_checked="1">
                <div class="popup-header__inner" bis_skin_checked="1">
                    <h2 class="course-title">
                        <a href="#" bis_skin_checked="1">Computer Security &amp; Network</a>
                    </h2>
                </div>
                <a href="javascript: backPage();" class="back-course" bis_skin_checked="1"><i class="fa fa-times"></i></a>
                <script>
                    function backPage() {
                        window.history.back();
                    }
                </script>
            </div>
            <div id="popup-sidebar" bis_skin_checked="1">
                <form method="post" class="search-course">
                    <input type="text" name="s" autocomplete="off" placeholder="Search courses content">
                    <button name="submit"></button>
                    <button type="button" class="clear"></button>
                </form>
                <div class="course-curriculum" id="learn-press-course-curriculum" bis_skin_checked="1">
                    <div class="curriculum-scrollable" bis_skin_checked="1">
                        <ul class="curriculum-sections">
                            <li class="section" id="section-section-1-1" data-id="section-1-1" data-section-id="1">
                                <div class="section-header" bis_skin_checked="1">
                                    <div class="section-left" bis_skin_checked="1">
                                        <h5 class="section-title">Section 1
                                        </h5>
                                        <span class="section-toggle">
                                            <i class="fas fa-caret-down"></i>
                                            <i class="fas fa-caret-up"></i>
                                        </span>
                                    </div>
                                </div>
                                <ul class="section-content">
                                    <li class="course-item course-item-lp_lesson course-item-125 item-preview has-status"
                                        data-id="125">
                                        <a class="section-item-link" href="#" bis_skin_checked="1">
                                            <span class="item-name">Lesson 1</span>
                                            <div class="course-item-meta" bis_skin_checked="1">
                                                <span class="item-meta course-item-preview"
                                                    data-preview="Preview"></span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="course-item item-locked course-item-lp_lesson course-item-125 item-preview has-status"
                                        data-id="125">
                                        <a class="section-item-link" href="#" bis_skin_checked="1">
                                            <span class="item-name">Lesson 2</span>
                                            <div class="course-item-meta" bis_skin_checked="1">
                                                <span class="item-meta course-item-preview"
                                                    data-preview="Preview"></span>
                                            </div>
                                            <div class="course-item-meta" bis_skin_checked="1">
                                                <span class="item-meta course-item-status" title="Unread"></span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="course-item item-locked course-item-lp_lesson course-item-125 item-preview has-status"
                                        data-id="125">
                                        <a class="section-item-link" href="#" bis_skin_checked="1">
                                            <span class="item-name">Lesson 3</span>
                                            <div class="course-item-meta" bis_skin_checked="1">
                                                <span class="item-meta course-item-preview"
                                                    data-preview="Preview"></span>
                                            </div>
                                            <div class="course-item-meta" bis_skin_checked="1">
                                                <span class="item-meta course-item-status" title="Unread"></span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="course-item item-locked course-item-lp_lesson course-item-125 item-preview has-status"
                                        data-id="125">
                                        <a class="section-item-link" href="#" bis_skin_checked="1">
                                            <span class="item-name">Lesson 4</span>
                                            <div class="course-item-meta" bis_skin_checked="1">
                                                <span class="item-meta course-item-preview"
                                                    data-preview="Preview"></span>
                                            </div>
                                            <div class="course-item-meta" bis_skin_checked="1">
                                                <span class="item-meta course-item-status" title="Unread"></span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="section" id="section-section-1-1" data-id="section-1-1" data-section-id="1">
                                <div class="section-header" bis_skin_checked="1">
                                    <div class="section-left" bis_skin_checked="1">
                                        <h5 class="section-title">Section 2
                                        </h5>
                                        <span class="section-toggle">
                                            <i class="fas fa-caret-down"></i>
                                            <i class="fas fa-caret-up"></i>
                                        </span>
                                    </div>
                                </div>
                                <ul class="section-content">
                                    <li class="course-item course-item-lp_lesson course-item-125 item-preview has-status"
                                        data-id="125">
                                        <a class="section-item-link" href="#" bis_skin_checked="1">
                                            <span class="item-name">Lesson 1</span>
                                            <div class="course-item-meta" bis_skin_checked="1">
                                                <span class="item-meta course-item-preview"
                                                    data-preview="Preview"></span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="course-item item-locked course-item-lp_lesson course-item-125 item-preview has-status"
                                        data-id="125">
                                        <a class="section-item-link" href="#" bis_skin_checked="1">
                                            <span class="item-name">Lesson 2</span>
                                            <div class="course-item-meta" bis_skin_checked="1">
                                                <span class="item-meta course-item-preview"
                                                    data-preview="Preview"></span>
                                            </div>
                                            <div class="course-item-meta" bis_skin_checked="1">
                                                <span class="item-meta course-item-status" title="Unread"></span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="course-item item-locked course-item-lp_lesson course-item-125 item-preview has-status"
                                        data-id="125">
                                        <a class="section-item-link" href="#" bis_skin_checked="1">
                                            <span class="item-name">Lesson 3</span>
                                            <div class="course-item-meta" bis_skin_checked="1">
                                                <span class="item-meta course-item-preview"
                                                    data-preview="Preview"></span>
                                            </div>
                                            <div class="course-item-meta" bis_skin_checked="1">
                                                <span class="item-meta course-item-status" title="Unread"></span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="course-item item-locked course-item-lp_lesson course-item-125 item-preview has-status"
                                        data-id="125">
                                        <a class="section-item-link" href="#" bis_skin_checked="1">
                                            <span class="item-name">Lesson 4</span>
                                            <div class="course-item-meta" bis_skin_checked="1">
                                                <span class="item-meta course-item-preview"
                                                    data-preview="Preview"></span>
                                            </div>
                                            <div class="course-item-meta" bis_skin_checked="1">
                                                <span class="item-meta course-item-status" title="Unread"></span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="popup-content" bis_skin_checked="1">
                <div id="learn-press-content-item" bis_skin_checked="1">
                    <div class="content-item-scrollable" bis_skin_checked="1">
                        <div class="content-item-wrap" bis_skin_checked="1">
                            <div class="content-item-summary" bis_skin_checked="1">
                                <h3 class="course-item-title question-title">Lesson 1</h3>
                                <div class="content-item-description lesson-description" bis_skin_checked="1">
                                    <p>Istuc virtutum tantam diligimus pyrrhonem metellum estquod secundae pius quidque
                                        tubulus delectat rapior omittamus translatum cupido spectare molliorque</p>
                                    <p>Pertinere vestra vacua scientiam probandum tuique instructus cognitione poterat
                                        videbis</p>
                                    <p>Diceres mitigari vigeant beato primis conare odit vivendi quasi fuerat</p>
                                    <p>Antea ennius experiamur transmisit quadratum vacuitatem existimas habent
                                        euripidesconcludam iudicem sensuum linguam tria pleniorem suavius cernere
                                        aestimabat</p>
                                    <p>Nosmet altera delicatior infamia rogavi additis imperatoriae propterea opifices
                                        epicuro officio nominare</p>
                                    <p>Dederis negotium intellegatur breve piscis laudabile refers dederetur praecipue
                                        nam fortior petitur magnum mecum similiter datum deo</p>
                                    <p>Cetera concederem consolando nullam attendere neglegebat praesidium perveniant
                                        revocat ruinas relicta modicum summoque facilius gaudere</p>
                                    <p>Fieri multitudinis mehercule appellabant flagitiosa apparere caducum reliquit sed
                                        latinum signa aetatibus tui polemonis revertendum</p>
                                    <p>Fit contemnendam sentias inponebat cupiditatum verborumne molliorque tui
                                        praeeunte sis lingua quasi sibi duce metrodori torquate appellocommunia quam</p>
                                    <p>Levares aberrare laborum audiebant tarentum voluptatibus oratione fine tres
                                        commendationes aberramus pretiosissimis gerendarum longinquum</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="popup-footer" bis_skin_checked="1">
                <div class="course-item-nav" data-nav="all" bis_skin_checked="1">
                    <div class="prev" bis_skin_checked="1">
                        <div class="course-item-nav__name" bis_skin_checked="1">
                            Lesson 1</div>
                        <a href="#" bis_skin_checked="1">Prev</a>
                    </div>
                    <div class="next" bis_skin_checked="1">
                        <div class="course-item-nav__name" bis_skin_checked="1">
                            Lesson 2</div>
                        <a href="#" bis_skin_checked="1">Next</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- lessons part end -->



<!-- jquery slim -->
<script src="{{url}}/src/pages/lessons/js/jquery-3.4.1.min.js"></script>
<!-- popper js -->
<script src="{{url}}/src/pages/lessons/js/popper.min.js"></script>
<!-- bootstarp js -->
<script src="{{url}}/src/pages/lessons/js/bootstrap.min.js"></script>
<!-- nice select -->
<script src="{{url}}/src/pages/lessons/vendors/niceselect/js/jquery.nice-select.min.js"></script>
<!-- owl carousel js -->
<script src="{{url}}/src/pages/lessons/vendors/owl_carousel/js/owl.carousel.min.js"></script>
<!-- magnify popup js -->
<script src="{{url}}/src/pages/lessons/vendors/magnify_popup/jquery.magnific-popup.js"></script>
<!-- simplyCountdown js -->
<script src="{{url}}/src/pages/lessons/vendors/countdown/js/simplyCountdown.min.js"></script>
<!-- counter js -->
<script src="{{url}}/src/pages/lessons/vendors/counter/jquery.countTo.js"></script>
<!-- aos js -->
<script src="{{url}}/src/pages/lessons/vendors/aos/aos.js"></script>
<!-- font awesome js -->
<script src="https://kit.fontawesome.com/6ee3230338.js" />
</script>
<!-- custom js -->
<script src="{{url}}/src/pages/lessons/js/custom.js"></script>