<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{{url}}/vendors/styles/core.css">
<link rel="stylesheet" type="text/css" href="{{url}}/vendors/styles/icon-font.min.css">
<link rel="stylesheet" type="text/css" href="{{url}}/src/plugins/datatables/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="{{url}}/src/plugins/datatables/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="{{url}}/vendors/styles/style.css">


<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-119386393-1');
</script>


{{!-- {{> admin/pre-loader}} --}}
{{> admin/header}}
{{> admin/right-sidebar}}
{{> admin/left-sidebar}}




<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>O'qituvchilar ro'yxati</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
                                <li class="breadcrumb-item active" aria-current="page">O'qituvchilar</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Simple Datatable start -->
            <div class="card-box mb-30">
                <div class="d-flex justify-content-between">
                    <div class="pd-20">
                        <h4 class="text-blue h4">Barcha o'qituvchilar</h4>
                    </div>

                    {{!-- add btn --}}
                    <div class="pd-20">
                        <button class="btn btn-primary btn-sm" id="addTeacher">Yangi o'qituvchi qo'shish</button>
                    </div>
                </div>



                <div class="pb-20">
                    <table class="data-table table stripe hover nowrap">
                        <thead>
                            <tr>
                                <th class="table-plus datatable-nosort">Ism</th>
                                <th>Email</th>
                                <th>username</th>
                                <th>Rasm</th>
                                <th class="datatable-nosort">Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            {{#each data.teachers}}

                            <tr teacherID="{{id}}">
                                <td>{{name}}</td>
                                <td>{{email}}</td>
                                {{#if username}}
                                <td><a href="/user/{{username}}">{{username}}</a></td>
                                {{else}}
                                <td>yo'q</td>
                                {{/if}}
                                <td>
                                    {{#if image}}
                                        <a href="{{image}}" class="text-primary" target="_blank">Rasm</a>
                                    {{else}}
                                        yo'q
                                    {{/if}}
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
                                            href="#" role="button" data-toggle="dropdown">
                                            <i class="dw dw-more"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                            <button class="dropdown-item" onclick="deleteTeacher('{{id}}')"><i
                                                    class="dw dw-delete-3"></i>O'chirish</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            {{/each}}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="footer-wrap pd-20 mb-20 card-box">
            InTeacher LMS
        </div>
    </div>
</div>

{{!-- --}}
<div class="modal fade" id="confirmation-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center font-18">
                <h4 class="padding-top-30 mb-30 weight-500">Rostdan ham o'chirishni xoxlaysizmi ?</h4>
                <div class="padding-bottom-30 row" style="max-width: 170px; margin: 0 auto;">
                    <div class="col-6">
                        <button type="button" class="btn btn-secondary border-radius-100 btn-block confirmation-btn"
                            data-dismiss="modal"><i class="fa fa-times"></i></button>
                        Yo'q
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-primary border-radius-100 btn-block confirmation-btn"
                            data-dismiss="modal"><i class="fa fa-check"></i></button>
                        Ha
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- js -->
<script src="{{url}}/vendors/scripts/core.js"></script>
<script src="{{url}}/vendors/scripts/script.min.js"></script>
<script src="{{url}}/vendors/scripts/process.js"></script>
<script src="{{url}}/vendors/scripts/layout-settings.js"></script>
<script src="{{url}}/src/plugins/datatables/js/jquery.dataTables.min.js"></script>
<script src="{{url}}/src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="{{url}}/src/plugins/datatables/js/dataTables.responsive.min.js"></script>
<script src="{{url}}/src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
<!-- buttons for Export datatable -->
<script src="{{url}}/src/plugins/datatables/js/dataTables.buttons.min.js"></script>
<script src="{{url}}/src/plugins/datatables/js/buttons.bootstrap4.min.js"></script>
<script src="{{url}}/src/plugins/datatables/js/buttons.print.min.js"></script>
<script src="{{url}}/src/plugins/datatables/js/buttons.html5.min.js"></script>
<script src="{{url}}/src/plugins/datatables/js/buttons.flash.min.js"></script>
<script src="{{url}}/src/plugins/datatables/js/pdfmake.min.js"></script>
<script src="{{url}}/src/plugins/datatables/js/vfs_fonts.js"></script>
<!-- Datatable Setting js -->
<script src="{{url}}/vendors/scripts/datatable-setting.js"></script>
<!-- add sweet alert js & css in footer -->
<script src="{{url}}/src/plugins/sweetalert2/sweetalert2.all.js"></script>
<script src="{{url}}/src/plugins/sweetalert2/sweet-alert.init.js"></script>






<script>
    let bool = false;

    $('#addTeacher').click(function () {
        swal({
            title: 'Username\'ni kiriting:',
            input: 'text',
            inputPlaceholder: "@username",
            confirmButtonText: 'Qo\'shish',
            showLoaderOnConfirm: true,
            confirmButtonClass: 'btn btn-success',
            allowOutsideClick: true,
            preConfirm: function (username) {
                if (/@\w+(?:_\w+)?/g.test(username)) {
                    bool = true;
                }

            }
        })
            .then((username) => {
                if (bool) {
                    $.ajax({

                        url: "/admin/teachers/add",
                        method: "POST",
                        data: {
                            username: username.value
                        },
                        success: function (res) {
                            if (res.success) {
                                swal(
                                    {
                                        position: 'top-end',
                                        type: 'success',
                                        title: res.message,
                                        showConfirmButton: false,
                                        timer: 1500
                                    }
                                );

                                setTimeout(() => {
                                    location.reload();
                                }, 1000);
                            }
                            else{
                                swal(
                                    {
                                        position: 'top-end',
                                        type: 'error',
                                        title: res.message,
                                        showConfirmButton: false,
                                        timer: 1500
                                    }
                                );
                            }
                        }
                    })
                }
                else {
                    swal({
                        type: 'error',
                        title: 'Username xato kiritildi!',
                    })
                }
            })

    });


    const deleteTeacher = (id) =>{
        $.ajax({

                        url: "/admin/teachers/delete",
                        method: "POST",
                        data: {id},
                        success: function (res) {
                            if (res.success) {
                                swal(
                                    {
                                        position: 'top-end',
                                        type: 'success',
                                        title: res.message,
                                        showConfirmButton: false,
                                        timer: 1500
                                    }
                                );

                                setTimeout(() => {
                                    location.reload();
                                }, 1000);
                            }
                            else{
                                swal(
                                    {
                                        position: 'top-end',
                                        type: 'error',
                                        title: res.message,
                                        showConfirmButton: false,
                                        timer: 1500
                                    }
                                );
                            }
                        }
                    })
    }

</script>